html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 30px;
  background: #fafafa;
}

.swagger-ui .topbar {
  padding: 8px 30px;
  background-color: #fafafa;
}
