html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 30px;
  background: #fafafa;
}

ul {
  padding: 0;
  list-style-type: none;
}

.swagger-ui .info li .opblock a {
  font-size: 30px;
  text-decoration: none;
}

.swagger-ui .topbar {
  padding: 8px 30px;
  background-color: #fafafa;
}

.swagger-ui .topbar a {
  color: #888;
}

.swagger-ui .info .scheme-container {
  padding-left: 30px;
  padding-right: 30px;
}
